{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Shashin MX</title>
</head>
<header class='header-index'>
<div class='logo-index'>
    <img src='/static/elements/shashin-logo.png' alt='shashin-logo'>
</div>
<div class='navbar-index'>
    <nav>
        <ul>
            <li><a href='#'>INICIO</a></li>
            <li><a href='{% url '' %}'>GALERIA</a></li>
            <li><a href='#'>BLOG</a></li>
            <li><a href='#'>CONTACTO</a></li>
        </ul>
    </nav>
</div>
</header>
<body>
    <
</body>
<footer>

</footer>
</html>