@font-face {
    font-family: 'azonix';
    src: url(../fonts/Azonix.otf);
}

@font-face {
    font-family: 'gotham-light';
    src: url(../fonts/gotham_light.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-index{
    background-image:url('../images/IMG_9262.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}

.header-index{
    position: static;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    justify-content: center;
}

.logo-index{
    background-color: #1d1d1b;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-index{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 5px;
    position: static;
    background-color: #1d1d1b;
}

.navbar-index li{
    display: inline-block;
    padding: 0 15px;
    border-right: 2px solid #ffffff;
}

.navbar-index li:last-child{
    border-right: none;
}

.navbar-index a{
    margin: 30px;
    font-family: 'azonix';
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(4,1.5fr); 
    gap: 10px; 
    padding: 10px; 
    margin: 0 auto;
    background-color: #1d1d1b;
}


.galeria-grid figure {
    height: auto; 
    margin: 0; 
    overflow: hidden; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: start; 
}


.galeria-grid figure img {
    width: 100%;  
    height: 100%;
    object-fit: contain; 
    display: block; 
}

.footer-line{
    border: 0;
    height: 1px;
    background-color: #ffffff;
    margin: 3px;
    width: 100%;
}

.footer-container{
    display: flex;
    background-color: #1d1d1b;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.footer-column{
    flex: 1;
    padding: 0 10px;
    list-style-type: none;
}

.footer-column li{
    font-family: 'gotham-light';
    color:#ffffff;
    list-style-type: none;
}

.footer-column li a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: #ff913e;
} 

@media (max-width: 992px) {
    .galeria-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (max-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr); 
        padding: 5px;
        gap: 5px;
    }
}

@media (max-width: 576px) {
    .galeria-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}