@font-face {
    font-family: 'azonix';
    src: url(../fonts/Azonix.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    margin: 0;
    padding: 0;

}

.header-other{
    position: static;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: white;
}

.logo-other{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    flex-grow: 60;
}

.navbar-other{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.navbar-other li{
    display: inline-block;
    padding: 0 15px;
    border-right: 2px solid #ffff;
}

.navbar-other li:last-child{
    border-right: none;
}

.navbar-other a{
    margin: 30px;
    font-family: 'azonix';
    font-size: 20px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ff913e;
} 


