{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<header class="header-other">
    <div class="logo-other">
        <link rel="stylesheet" href="{% static 'shashinmx/css/other.css' %}">
        <img src="{% static 'shashinmx/elements/shashin-isologo.png' %}" alt="shashin-isologo">
    </div>
    <div class="navbar-other">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">INICIO</a></li>
                <li><a href="{% url 'galeria' %}">GALERIA</a></li>
                <li><a href="{% url 'blog' %}">BLOG</a></li>
                <li><a href="{% url 'contacto' %}">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>

</footer>
</html>