{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% block title %}
    {% endblock %}
</head>
<body>
    <header class="header-other">
    <div class="logo-other">
        <link rel="stylesheet" href="{% static 'shashinmx/css/other.css' %}">
        <img src="{% static 'shashinmx/elements/shashin-isologo.png' %}" alt="shashin-isologo">
    </div>
    <div class="navbar-other">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">INICIO</a></li>
                <li><a href="{% url 'galeria' %}">GALERIA</a></li>
                <li><a href="{% url 'blog' %}">BLOG</a></li>
                <li><a href="{% url 'contacto' %}">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</header>
    {% block content %}
    {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
<footer>

</footer>
</html>