@font-face {
    font-family: 'azonix';
    src: url(../Proyecto/fonts/Azonix.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url('images/IMG_9262.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}

.header{
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    justify-content: center;
}

.logo{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.navbar li{
    display: inline-block;
    padding: 0 15px;
    border-right: 2px solid #ffff;
}

.navbar li:last-child{
    border-right: none;
}

.navbar a{
    margin: 30px;
    font-family: 'azonix';
    font-size: 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ff913e;
} 
